<div class="contain-cart-heading text-center">
    <h5 class="text-center pt-2 text-bold p-0">
        Your Cart
    </h5>
    <div class="col-12 text-black text-center m-0 p-0 w-100 m-0">
        {% if free_shipping_delta > 0 %}
        <span class="text-danger">Spend another € {{free_shipping_delta }} to qualify for free shipping</span>
        {% else %}
        <span class="text-success text-bold">YOU QUALIFY FOR FREE SHIPPING</span>
        {% endif %}
    </div>
    <hr class="p-0 m-0" />
</div>
{% csrf_token %}
{% if cart_items %}
<div class="contain-mobile-cart-items pl-2 pr-2 mt-0 pt-0">
    {% for item in cart_items %}
    <div class="row mt-2 mb-2">
        <div class="col-4">
            <img class="img-fliud rounded cart-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        </div>
        <div class="col-8 my-auto">
            <p><strong>{{ item.product.name }}</strong></p>
            <div class="row">
                <div class="col-4">
                    {% if item.product.sale_price %}
                    {% if item.product.sale_price < item.product.price %}
                    <p class="light-grey">€{{ item.product.sale_price }}</p>
                    {% endif %}
                    {% else %}
                    <p class="light-grey">€{{ item.product.price }}</p>

                    {% endif %}
                </div>
                <div class="col-4">
                    Qty: {{ item.quantity }}
                </div>
                <div class="col-4">
                    <i class="fas fa-times remove-item"></i>
                    <input type="hidden" id="product-id" value="{{item.product.id}}">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="contain-mobile-cart-summary">
    <div class="row m-0">
        <div class="col-6">
            <p><strong>Total (Exlc. delivery)</strong></p>
        </div>
        <div class="col-6 text-right light-grey">
            €{{ total }}
        </div>
    </div>

    <div class="col-12 text-center m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-6 p-0 m-0">
                <div class="checkout-popup-cart continue-shopping">Continue Shopping</div>
            </div>
            <div class="col-6 p-0 m-0">
                <a href="{% url 'checkout' %}">
                    <div class="checkout-popup-cart-2">Checkout <i class="fas fa-lock ml-3"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col-12 text-center">
    <i class="fas fa-shopping-basket empty-cart mb-4"></i>
    <p>Looks like your cart is empty!</p>
    <a href="{% url 'products' %}">
        <div class="shop-now-btn mt-4">Let's Shop!</div>
    </a>
    <div class="continue-shopping shop-now-btn-2 mt-4">Close Cart</div>
</div>
{% endif %}