{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
<div class="row">
<div class="col"></div>
</div>
</div>
{% endblock %}

{% block content %}
<!--If the user has upcoming bookings-->
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
        <h3>Upcoming Bookings ({{ bookings|length}})</h3>
        <hr/>
        <!--Check if the user has any bookings against there user name-->
        {% if bookings %}
        {% for booking in bookings %}
        {{ booking.customer_name }}
        {{ booking.service }}
        {{ booking.time }}
        <hr/>
        {% endfor %}
        {% else %}
        <p>You have no upcoming bookings</p>
        {% endif %}
        </div>
    </div>
</div>

<!--Booking Widget-->
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
        <h3>Make A Booking</h3>
        <hr/>
      
        </div>
 </div>
 <div class="row">
<div class="col-4 border-right">
    <div><h3>Categories</h3></div>
    <ul class="list-unstyled">
        {% for category in categories %}
        <li class="p-3 booking-list-item">{{ category.name }}</li>
        {% endfor %}
    </ul>
</div>
<div class="col-4 border-right">
    <div><h3>List of Services</h3></div>
    <ul class="list-unstyled">
        {% for service in services %}
        <li class="p-3 booking-list-item">{{ service.name }}</li>
        {% endfor %}
    </ul>
</div>
<div class="col-4">Preferred Time</div>
 </div>
<!--Request Booking Fixed Bottom-->
<div class="row request-fixed-bar">
<div class="col-12 text-center">
<div class="ml-auto request-a-booking-btn">Request Booking</div>    
</div>
</div>

</div>
{% endblock %}


<!--Load JQuery for booking widget-->
{% block postloadjs %}
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}