{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
<div class="row">
<div class="col"></div>
</div>
</div>
{% endblock %}

{% block content %}
<!--If the user has upcoming bookings-->
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
        <h3>Upcoming Bookings ({{ bookings|length}})</h3>
        <hr/>
        <!--Check if the user has any bookings against there user name-->
        {% if bookings %}
        {% for booking in bookings %}
        {{ booking.customer_name }}
        {{ booking.service }}
        {{ booking.time }}
        <hr/>
        {% endfor %}
        {% else %}
        <p>You have no upcoming bookings</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}