{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container mt-5 text-center h-100">
    <!--Page Heading-->
    <div class="row">
        <div class="col">
            <hr />
            <h2>Thank You</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Your order has been placed. A confirmation email will be sent to <strong>{{ order.email }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Your order number is {{ order.order_number }}
        </div>
        {% for item in order.lineitems.all %}
        <p>{{ item.product_name }}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}

