/* 
Base CSS File 

Index
1. General styling 
2. Nav Links
3. Home page 
4. Products 
5. Booking

*/

/* 1. General Styling ------- */ 

html {
height: 100%;
}

a, a:hover{
  color: inherit;
  text-decoration: none;
}

body {
font-family: Lato;
height: 100%;
}

.text-black {
    color: #000 !important;

}

.text-white {
color:#fff;
}

.border-right  {

  border-right: 1px solid grey;
}

/* 2. Nav  ------- */ 

.nav-link{ 
    color: #000 !important;
    font-weight: bold !important;
}

.booking-btn {
background-color: #F89799;
color: #fff !important;
}


.brand-color {
color: #F89799 !important;
}
/* 3. Home Page ------- */ 

.contain-hero {
background: url('/media/hero-image.jpg') no-repeat center center;
background-size: cover;
min-width: 100vw;
height: 50vh;
}

.shop-now-btn {
background-color: #fff;
color: #000;
}

.header-container {    
margin-top: 100px;
}

.contain-hero-content {
margin-top: 15vh;
}


/* 4. Products ------------- */

.product-image {
min-height: 150px;
max-height: 150px;
min-width: 150px;
max-width: 150px;
}
.product-title {
font-weight: bold;
min-height: 80px;
}

.price-tag {
color: #F89799;
}

.add-to-cart-button {
height: 30px;
width: 50%;
margin: 0 auto;
background-color: #F89799;
color: #fff;
line-height: 30px;
}

/* 5. Booking ------- */

.booking-list-item {
  
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}


.booking-list-item-selected {
background-color: lightgrey;
}

.request-fixed-bar {
position: fixed;
bottom: 0;
left: 0;
background-color: blue;
min-width: 100vw;
margin: 0;
padding: 0;
height: 80px;
}

.request-a-booking-btn {
  position: absolute;
  top: 10px;
  right: 30px;
height: 60px;
width: 200px;
background-color: #F89799;
line-height: 60px;
color: #fff;
}

.contain-booking-details {
color: #fff !important;
font-size: 2em;
line-height: 80px;
}


@media (min-width: 1200px) {
    .container {
      min-width: 85%;
    }
  }
@media(min-width: 992px) {

.fixed-top-desktop-only {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 19999;
}   



.header-container {    
padding-top: 164px;
}

.header-container {    
    margin-top: 0;
    }

}