/* 
Base CSS File 

Index
1. General styling 
2. Nav Links
3. Home page 


*/

/* 1. General Styling ------- */ 

html {
height: 100%;
}

body {
font-family: Lato;
height: 100%;
}

.text-black {
    color: #000 !important;

}

.text-white {
color:#fff;
}


/* 2. Nav  ------- */ 

.nav-link{ 
    color: #000 !important;
    font-weight: bold !important;
}

.booking-btn {
background-color: #F89799;
color: #fff !important;
}


.brand-color {
color: #F89799 !important;
}
/* 3. Home Page ------- */ 

.contain-hero {
background: url('/media/hero-image.jpg') no-repeat center center;
background-size: cover;
min-width: 100vw;
height: 50vh;
}

.shop-now-btn {
background-color: #fff;
color: #000;
}

.header-container {    
margin-top: 100px;
}

.contain-hero-content {
margin-top: 15vh;
}



@media (min-width: 1200px) {
    .container {
      min-width: 85%;
    }
  }
@media(min-width: 992px) {

.fixed-top-desktop-only {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 19999;
}   

.header-container {    
padding-top: 164px;
}

.header-container {    
    margin-top: 0;
    }

}