.save-btn {
    height: 40px;
    width: 150px;
    background-color: #28A745;
    color: #fff;
    line-height: 40px;
    border: none;
    border-radius: 4px;

}

#id_markedClosed {
padding: 30px !important;
}
.contain-search-form button {
    background-color: transparent !important;
    border: none !important;
}


a:hover {
text-decoration: none;
}

.text-red {
color: red;
}

.expand-menu {
    cursor: pointer;
}

.sub-menu {
    display: none;
}

.sub-menu li{
    cursor: pointer;
}

/* Management base template */
.top-bar {
background-color: #fff;
color: #fff;
height: 50px;
line-height: 50px !important;
position: fixed;
top: 0;
z-index: 2;
border-bottom: 1px solid #70717479;
}

.title-text {

font-size: 20px;
color: #1A1F36;
}


.exit-btn {
position: absolute;
top: 50%;
right: 0;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
color: #707174;
cursor: pointer;
font-size: 16px;
}

.fa-question-circle {
color: #707174;
}


.fa-mail-bulk, .fa-tag, .booking-icon {
    font-size: 60px;
}



#myChart {
height: 300px;
width: 300pxs;
}



 .nav-bar {
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 280px;
     background-color:#F7FAFC;
     z-index: 99;
     padding-top: 10px;
 }

 .dashboard-menu {
     display: none;
 }

 .nav-list li {
color: #1A1F36;
width: 260px;
position: relative;
 }

 .expand-icon {
position: absolute;
top: 50%;right: 10%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
 }

 /* management home */

.info-box {
position: relative;
height: 100px;
width: 100%;

}

.info-box .content {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-box {
border-right: 1px solid lightgrey;
}

.icon-box i {
    font-size: 24px;
    color: #1A1F36;
}


.number {
color: green;
}

.complete-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.view-btn {
    height: 30px;
    width: 80px;
    line-height: 30px;
    background-color: #1A1F36;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}



.remove-staff, .remove-service, .remove-service-category {
cursor: pointer;
}



.display_shipping_method {
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(36, 30, 65);
    color: #fff;
  }

.add_coupon_button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    background-color:#4A94BF;
    line-height: 50px;
    cursor: pointer;
}

.search_product_input {
    min-width: 200px;
    min-height: 40px;
    font-size: 14px;
    padding-left: 5px;
}

.search_product_input_icon {
    font-size: 24px;
}

.emoji {
    width: 30%;
}

.email_btn {
    
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #1A1F36;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;

}


.border-thin {
border: 1px solid rgba(175, 175, 175, 0.24);
}

.banner-contain {
    background-color: #6a2b86;
    color: #fff !important;
}

.banner-contain-email-success {
    background-color: rgb(12, 173, 98);
    color: #fff !important;
}

.banner-contain-email-fail {
    background-color: red;
    color: #fff !important;
}

.confirmed-booking {
    background-color: rgb(12, 173, 98);
}





.green-tick, .text-green {
    color: green;
}

.text-area {
    min-height: 200px;
}


.send-marketing-email-btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #1A1F36;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
}

.delete-btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #6e1616;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;

}

.delete-btn-confirm {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #6e1616;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;

}


.go-back {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(26,31,54);
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
}

.border-green {
    border: 0.5px solid rgb(18, 88, 18) !important;
    color: #000 !important;
}

.open-mobile-settings {
color: #1A1F36;
}


.border-red {
    border: 0.5px solid rgb(143, 36, 36) !important;
    color: #000 !important;
}



#id_in_stock {
font-weight: bold;
}

label {
    font-weight: bold; 
}

.call_btn {
height: 40px;
width: 200px;
line-height: 40px;
background-color: #2624A6;
color: #fff;
text-align: center;
}

a {
color: inherit !important;
}

.make-same-height {
    min-height: 80px !important;
}

.submit-form {
    display: block;
    height: 40px !important; 
    width: 150px !important;
    background-color: #FEB801 !important;
    color: rgb(75, 75, 75);
    line-height: 40px;
    border: none;
    cursor: pointer;
    text-align: center;
  }


.btn-file {
position: relative;
overflow: hidden;
  }


.btn-file input[type="file"] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
opacity: 0;
cursor: pointer;


}  

#myLineChart 
{

    min-height: 200px !important;
}

@media(min-width: 992px) {
    .wrap-content {
        margin-left: 320px;
        max-width: calc(100vw-320px);
    }

    
#myLineChart 
{

    min-height: none;
}
    
    .dashboard-menu {
        display: block;
    }
   
}