<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto mt-3">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                Home
            </a>
      
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
               About
            </a>
      
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
             Our Services
            </a>
      
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
              Gallery
            </a>
      
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
              Shop now
            </a>
      
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 booking-btn" href="{% url 'booking' %}">
              Booking
            </a>
      
        </li>
        
      
    </ul>
</div>