{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto mt-5 pt-5 text-center">
            <img src="{{MEDIA}}email.png" class="contact-img mb-3">
            <h1>{% trans "Verify Your E-mail Address" %}</h1>
            <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
                Please <a href="{% url 'contact' %}" class="d-inline">contact us</a> if you do not receive it within a
                few minutes.</p>
        </div>
    </div>
</div>
{% endblock %}