{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center mb-3">
           <h3><strong>Add A Product</strong></h3>

        </div>
        <div class="col-12 text-center">
            <form method="POST" class="input-forms">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>

</div>

{% endblock%}