{% extends 'management/dashboard_base.html' %}
{% load static %}
{% block extra_title %} Dashboard {% endblock %}


{% block content %}
<div class="container-fluid mt-5 pt-4 mb-5">
  <div class="row">
    {% if messageresult > 0 %}
    <div
      class="col-12 col-lg-8 mx-auto text-center {% if messageresult == 1%} border-green {% elif messageresult == 2 %}border-red{% endif %} p-3 mb-3">
      <h4>{{ message }}</h4>
      <a href="{% url 'manage_products' %}"><button class="d-block go-back mt-3"><i
            class="fas fa-backward mr-2"></i>Back to Products</button></a>
    </div>
    {% endif %}
    <div class="col-12 text-muted text-center">
      <h3 class="d-inline-block ">Add A Product</h3>
      <hr />
      <p>To add a product, please enter the product details below!</p>
    </div>
  </div>
  <!-- Sorting -->
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="send-marketing-email-btn mt-3">Add Product</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}