{% extends 'management/dashboard_base.html' %}
{% load static %}
{% block extra_title %} Dashboard {% endblock %}


{% block content %}
<div class="container-fluid mt-5 pt-4">
  <div class="row">
    <div class="col-12 text-muted">
      <h3 class="d-inline-block">Staff</h3>
      <div class="ml-3 view-btn text-center d-inline-block" data-toggle="modal" data-target="#addStaffmodal">Add</div>
      <hr />
    </div>
  </div>


  <div class="row">

    <div class="col-12">
      <p>Manage staff members and <strong>choose whether or not they are available for online booking</strong></p>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Available</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {% csrf_token %}
          {% for person in staff %}
          <tr>
            <td class="contain-setting-name">
              <h4 class="text-muted settingName">{{ person.name }}</h4>
              <p>{{ person.position }}</p>
            </td>
            <td>
              <input type="checkbox" {% if person.available == True %} checked {% endif %} name="updatestaffavail"
                class="updatestaffavail" data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                data-on="Yes" data-off="No">

            </td>
            <td><i class="fas fa-times ml-3 remove-staff text-danger"></i></td>

          </tr>
            {% endfor %}
        </tbody>
      </table>

    </div>


  </div>

  <!--Set shipping costs modal-->
  <div class="modal fade" id="addStaffmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-cogs mr-3"></i> Add Staff Member</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Save" class="clicked_submit submit-form" />
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
  {% endblock %}