{% extends 'management/dashboard_base.html' %}
{% load static %}
{% block extra_title %} Dashboard {% endblock %}


{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    {% if message == 1 %}
    <div class="row mt-3">
        <div class="col-12 text-center mx-auto p-3 mt-5">
            <div class="alert alert-success" role="alert">
                Opening Hours Updated!
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 text-center mb-3 mt-5 pt-4">
            <p>Please note that <strong>if you mark a day as closed,</strong> this day will not be available for request
                in your booking system! </p>
            <h3><strong>Current Opening Hours</strong></h3>

        </div>
        <div class="col-12 text-center">
            {% for items in hours %}
            {% if items.markedClosed == False %}
            <p>{{ items.day }} : {{ items.openingTime }} - {{ items.closingTime }}</p>
                {% else %}
                <p>{{ items.day }} : <strong>Closed</strong></p>
                    {% endif %}
                    {% endfor %}

        </div>
    </div>

</div>


<div class="container mt-3  mb-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h3><strong>Change Opening Hours</strong></h3>
        </div>
        <div class="col-12 text-center">
            <form method="POST" class="input-forms">
                {% csrf_token %}
                <div class="col-12">
                    {{ form.day | as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ form.openingTime | as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ form.closingTime | as_crispy_field }}
                </div>
                <div class="col-12 mb-4">
                    <div class="row">
                        <div class="col-6 text-right pt-2"><strong>MARK THIS DAY AS CLOSED?</strong></div>
                        <div class="col-6 text-left">{{ form.markedClosed }}</div>
                    </div>
                </div>
                <input type="submit" value="Save" class="save-btn" />
            </form>

        </div>
    </div>
</div>



{% endblock%}