<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty4U - Whoops! Nothing Found Here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .go-back-btn {
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #2F2E41;
            color: #fff;
        }

        .img {
            width: 80%;
            margin: 0 auto;
        }

        a,
        a:hover {
            text-decoration: none;
        }

        @media(min-width: 992px) {
            .img {
                width: 50%;
            }
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5 pt-5">
                <img src="https://i.ibb.co/4VKqb0r/404.png" class="mb-3 img">
                <h3 class="text-muted mb-4">Whoops! Nothing here!</h3>
                <a href="https://beauty4u.herokuapp.com">
                    <div class="go-back-btn mx-auto">Go Home</div>
                </a>
            </div>

        </div>

    </div>
</body>

</html>