{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Shop Online{% endblock %}

{% block page_header %}
<div class="container header-container">
<div class="row">
<div class="col"></div>
</div>
</div>
{% endblock %}



{% block content %}
<div class="container mt-5">

<div class="row pt-2">
    <div class="col-12 shop-top-banner">
        <div class="contain-top-banner-content">
            <h2>UP TO <strong>50% OFF</strong> YOUR FAVOURITE BRANDS!</h2>
            <div class="shop-sale">SHOP SALE</div>
        </div>
    </div>
</div>

<!--Highlighted Products-->
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h2 class="text-muted">Featured Products</h2>
        </div>
    </div>
    <div class="row">
        {% for items in featured_products %}
        <div class="col-6 col-lg-3 mt-5 pt-4">
        <div class="col-12 text-center">
            {% if items.sale_price < items.price  %}   
            <span class="sale-badge"><img class="sale-tag" src="/media/sale-tag.png"></span>
            {% endif %}
            {% if items.image %}
            <a href="{% url 'product_detail' items.id %}">
            <img src="/media/{{ items.image }}" class="product-image" alt="{{ items.name }}">
            </a>
            {% endif %}
        </div>
             <a href="{% url 'product_detail' items.id %}">
           <div class="col-12 text-center mt-2 product-title">{{ items.name }}</div>
           </a>
           <div class="row">
           <div class="col-6 mt-2 lightgrey">
            {% if items.sale_price < items.price  %}   
            <strike>{{ items.price }}</strike><span class="text-danger ml-3">{{ items.sale_price }}</span>
            {% else %}
            {{ items.price }}
            {% endif %}
        </div>
            <div class="col-6 mt-2 text-right">
                <!--Logic to output wishlist icon based on if item is in wishlist-->
                <form action="{% url 'add_to_wishlist' items.id %}" method="POST">
                  {% csrf_token %}
                <button type="submit"><i class="far fa-heart pr-3"></i></button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                 </form>
                </div>
        
        </div>
        </div>
        {% endfor %}
    
    </div>
</div>



<!--Sory by Brand-->
<div class="row pl-2 pl-2 ">
<div class="col-12">
    <!--List of all brands-->
    <h2 class="toggle-brand-dropdown">Brands <i class="fas fa-sort-down"></i></h2>
    <div class="contain-brand-list d-none">
    <ul class="list-group list-group-horizontal brand-list">
        <!--Some logic here to output brands-->
        {% for brands in brandList %}
    <a href="{% url 'products' %}?brand={{ brands.id }}"><li class="list-group-item m-2">{% if brands.logo %}<img src="/media/{{ brands.logo }}" alt="brands.brand" class="brand-list-logo">{% else %}{{ brands.brand }}{% endif %}</li></a>
        {% endfor %}
      </ul>
    </div>
</div>
<div class="col-6">
    <h2>All Products</h2>
    <ul class="list-group list-group-horizontal">
        <li class="list-inline-item dropdown">
            <!--If by price is cliked, sort by lowest price first (most likely what the user will want if sorting by price)-->
        <a class="text-black nav-link" href="#" id="sort-price" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        By Price</a>
        <div class="dropdown-menu border-0" aria-labelledby="sort-price">
        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Low - High</a>
        <a href="{% url 'products' %}?sort=price&direction=dsc" class="dropdown-item">High - Low</a>
        </div>
        </li>
        <a href="{% url 'products' %}?sort=rating">
        <li class="list-inline-item">By Rating</li></a>
      </ul>
</div>
</div>
<!--Output sorting title-->
<div class="row mt-4">
<div class="col-12 text-center">
 <h3>
        {% if selectedBrand != 'None' %}
        {% for name in selectedBrand %}
        <h3><strong>{{ name.brand }} </strong>- <span class="light-gray"> {{ products|length }} products</span></h3>
        {% endfor %}
        {% endif %}
        {% if query %}
        <h5>Showing results for: {{ query }}</h5>
        <h6 class="light-gray">{{ products|length }} items found</h6>
        {% endif %}

 </h3>   
</div>
</div>
<div class="row">
    {% for items in products %}
    <div class="col-6 col-lg-3 mt-5 pt-4">
    <div class="col-12 text-center">
        {% if items.sale_price < items.price  %}   
        <span class="sale-badge"><img class="sale-tag" src="/media/sale-tag.png"></span>
        {% endif %}
        {% if items.image %}
        <a href="{% url 'product_detail' items.id %}">
        <img src="/media/{{ items.image }}" class="product-image" alt="{{ items.name }}">
        </a>
        {% endif %}
    </div>
         <a href="{% url 'product_detail' items.id %}">
       <div class="col-12 text-center mt-2 product-title">{{ items.name }}</div>
       </a>
       <div class="row">
       <div class="col-6 mt-2 lightgrey">
        {% if items.sale_price < items.price  %}   
        <strike>{{ items.price }}</strike><span class="text-danger ml-3">{{ items.sale_price }}</span>
        {% else %}
        {{ items.price }}
        {% endif %}
    </div>
        <div class="col-6 mt-2 text-right">
            <!--Logic to output wishlist icon based on if item is in wishlist-->
            <form action="{% url 'add_to_wishlist' items.id %}" method="POST">
              {% csrf_token %}
            <button type="submit"><i class="far fa-heart pr-3"></i></button>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
             </form>
            </div>
    
    </div>
    </div>
    {% endfor %}

</div>
</div>

{% endblock %}


<!--Load JQuery for navigation-->
{% block postloadjs %}
<script src="{% static 'js/product-nav.js' %}"></script>
<script src="{% static 'products/js/image_slider.js'%}"></script>
{% endblock %}