{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
{{ product.name }}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            {% if product.image %}
            <img src="{{MEDIA}}{{product.image}}" class="product-image-lg mb-3" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-6 pr-5">
            <h2><strong>{{ product.name }}</strong></h2>
            <!--Include Add to cart at top of page on mobile for ease of use-->
            <!--Make sure that if the product is accessed directly but is out of stock that the user can't add it to their cart-->
            {% if product.in_stock == True %}
            <div class="single_add_to_cart_button mt-3 d-block d-lg-none">Add To Cart</div>
            {% else %}
            <p class="text-danger mt-4">Out of Stock!</p>
            {% endif %}
            <ul class="list-unstyled">
                <!--Make string 'X' the length of the review score then loop through it to get stars -->
                {% if avg_score != 0%}
                {% for i in "x"|ljust:avg_score %}
                <li class="d-inline"><i class="fas fa-star"></i></li>
                {% endfor %}
                <span class="text-muted">({{total_reviews}})</span>
                {% endif %}
            </ul>
            <hr />
            {{ product.description }}
            <!--Check if the product is on sale-->
            {% if product.sale_price %}
            <h4 class="mt-4 mb-5 light-grey"><strike>€{{ product.price }}</strike> €{{ product.sale_price }}</h4>
            {% else %}
            <h4 class="mt-4 mb-5 light-grey">€{{ product.price }}</h4>
            {% endif %}
            {% if product.size %}
            <p class="text-muted">Size: {{ product.size }}</p>
            {% endif %}
            <!--Add to Cart -->
            {% csrf_token %}
            <div class="col-12 p-0 m-0">
                <p class="mt-3 ml-0 d-inline">Quantity:</p>
                <input type="hidden" id="product_id" value="{{product.id}}">
                <input class="form-control d-inline" type="number" name="quantity" value="1" min="1" max="10"
                    id="product_quantity">
                <!--Make sure that if the product is accessed directly but is out of stock that the user can't add it to their cart-->
                {% if product.in_stock == True %}
                <div class="single_add_to_cart_button mt-3 d-block ">Add To Cart</div>
                {% else %}
                <p class="text-danger mt-3">Out of Stock!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!--Reviews-->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h4><strong>Reviews</strong></h4>
            {% if review_check_complete == 1 %}
            <p class="text-muted">Looks like you've reviewed this product! Thanks so much!</p>
            {% endif %}
            <p></p>
            <hr />
        </div>
        <div class="col-12 col-lg-6">
            {% if user.is_authenticated %}
            {% if review_check_complete == 0 %}
            <div class="contain-add-review">
                <p>Add Your Own Review:</p>
                <ul class="list-unstyled">
                    <li class="d-inline"><span class="contain-star shadow p-2" id="star1"><i
                                class="fas fa-star"></i></span></li>
                    <li class="d-inline"><span class="contain-star shadow p-2" id="star2"><i class="fas fa-star"></i><i
                                class="fas fa-star"></i></span></li>
                    <li class="d-inline"><span class="contain-star shadow p-2" id="star3"><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span></li>
                    <li class="d-inline"><span class="contain-star shadow p-2" id="star4"><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                    </li>
                    <li class="d-inline"><span class="contain-star shadow p-2" id="star5"><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i></span></li>
                </ul>
                <p id="error-input" class="text-danger"></p>
                {% csrf_token %}
                <textarea name="review" id="user-review" rows="r" cols="50" class="form-control">
</textarea>
                <input type="hidden" id="product-id" value="{{ product.id }}">
                <button class="submit-review-btn mt-2 ml-auto">Submit Review</button>
            </div>
            <div class="col-12 contain-review d-none" id="just-added-review"></div>
            {% endif %}
            {% else %}
            <div class="col-12 mt-4">
                To add your own review, please <a href="{% url 'account_login' %}?next={{request.path}}"
                    class="d-inline"><span class="text-underline">login</span></a> or <span class="text-underline"><a
                        href="{% url 'account_signup' %}?next={{request.path}}" class="d-inline">register</a></span>
            </div>

            {% endif %}
            {% if reviews %}
            {% for review in reviews %}
            <div class="col-12 contain-review mt-2">
                <ul class="list-unstyled">
                    <!--Make string 'X' the length of the review score then loop through it to get stars -->
                    {% for i in "x"|ljust:review.score %}
                    <li class="d-inline"><i class="fas fa-star"></i></li>
                    {% endfor %}
                </ul>
                <p>{{ review.review }}</p>
                <div>Added by: <span class="text-muted">{{ review.added_by }}</span></div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 mt-4 no-reviews">
                There are no reviews for this product just yet! Be the first one to review!
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if product.brand %}
<div class="container contain-related mt-5 pt-3">
    <div class="col-12 text-center">
        <h2>More from <strong>{{ product.brand }}</strong></h2>
    </div>
    <div class="row mt-3">
        {% for items in related_products %}
        <!--Remove the current product been shown-->
        {% if items.id != product.id %}
        <div class="col-12 col-lg-3 mt-5 pt-4">
            <div class="col-12 text-center">
                {% if items.image %}
                <a href="{% url 'product_detail' items.id %}">
                    <img src="{{MEDIA}}{{items.image}}" class="product-image" alt="{{ items.name }}">
                </a>
                {% endif %}
            </div>
            <a href="{% url 'product_detail' items.id %}">
                <div class="col-12 text-center mt-2 product-title">{{ items.name }}</div>
            </a>

            <div class="col-12 text-center lightgrey">
                €{{ items.price }}
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}